.button {

  &,
  &:link,
  &:visited {
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: $primary-button-bg-color;
    height: $primary-button-height;
    padding: 1rem;
    border-radius: $primary-button-border-radius;
    color: $color-white;
    font-size: inherit;
    transition: all .4s;
    width: calc(100% + 4rem);
  }


  &:hover {
    background-color: $primary-button-hover-color;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}