.search {
  &-form-group {
    &-search-page {
      display: flex;
      position: relative;
      grid-gap: $searching-gap;
      align-items: center;      ;
    }

    &-main-page {
      display: flex;
      position: relative;
      flex-direction: column;
    }
  }

  &-input {
    &-search-page {
      padding: 0 0 0 5rem;
      margin: 2rem;
      width: calc((51rem / $min-width) * 100vw);
      border: $search-input-border;
      border-radius: $search-input-border-radius;
      height: 4.6rem;
      font-size: $form-font-size;
      font-family: $form-font-family;
      font-weight: $form-font-weight;
      line-height: $form-line-height;
      letter-spacing: $form-letter-spacing;
      text-align: $form-text-align;
    }

    &-main-page {
      padding: 0 0 0 5rem;
      margin: 2rem;
      width: calc((64rem / $min-width) * 100vw);
      border: $search-input-border;
      border-radius: $search-input-border-radius;
      height: 4.6rem;
      font-size: $form-font-size;
      font-family: $form-font-family;
      font-weight: $form-font-weight;
      line-height: $form-line-height;
      letter-spacing: $form-letter-spacing;
      text-align: $form-text-align;
    }

    &-icon {
      position: absolute;
      top: 3.5rem;
      left: 3.5rem;
      // top: 50% !important;
      // left: 50rem !important;
    }
  }
}