//-Default Fonts:
$default-font-size: 1.8rem;
$default-font-weight: 700;
$default-line-height: 2.1rem;
$default-font-family: 'Roboto';

$heading-primary-font-size: 3.2rem;
$heading-primary-font-weight: 700;
$heading-primary-line-height: 3.6rem;
$heading-primary-font-family: 'Inter';

$branding-label-font-size: 1.4rem;

$form-font-size: 1.6rem;
$form-font-family: 'Inter';
$form-font-weight: 400;
$form-line-height: 1.6rem;
$form-letter-spacing: 0em;
$form-text-align: left;

//--Font Colors:
$default-color-text-black: #090A0A;
$default-color-text-white: #FFFFFF;

$heading-primary-color: #090A0A;

//-Button Component:
$primary-button-height: 4.6rem;
$primary-button-padding: 0 3.5rem;
$primary-button-border-radius: 1.2rem;
//--Button Colors:
$primary-button-bg-color: #204080;
$primary-button-hover-color: #4F75C2;

//-Forms
$search-input-border: 2px solid #204080;
$search-input-border-radius: 8px;