//-Fonts:
$default-font-size: 1.8rem;
$default-font-weight: 700;
$default-line-height: 2.1rem;
$default-font-family: 'Roboto';
//--Font Colors:
$default-color-text-black: #090A0A;
$default-color-text-white: #FFFFFF;