@import '../../../styles/abstracts/variables';

.main-page {
  min-height: 100vh;
  min-width: 128vh;

  &-mt {
    margin-top: 10%;
  }

  &-container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  &-flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 2rem 0;

    &>.heading-primary {
      margin: 1rem 0 0 0;
      width: 50%;
    }
  }

  &-branding {
    position: relative;
    padding: 0 4rem;
    width: calc((28rem / $min-width) * 100vw);

    &-label {
      position: absolute;
      right: 1rem !important;
      font-size: $branding-label-font-size;
    }
  }
}

.add-new-record {
  display: inline-flex;
  position: absolute;
  right: 0 !important;
  top: 0 !important;
  margin: 5rem 10rem;

  &-container {
    position: relative;
  }
}

.search {
  &-container {
    display: flex;
    position: relative;
  }

  &-details {
    &-show-more {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: inherit;
      font-size: inherit;
      font-weight: $search-show-more-button-font-weight;
      line-height: $search-show-more-button-line-height;
      letter-spacing: $search-show-more-button-letter-spacing;
      height: calc((4.5rem / $min-height) * 100vh);

      &:hover {
        color: $search-show-more-button-hover-color;
        transition: all .5s;
        cursor: pointer;
      }
    }

    &-container {
      width: calc((72rem / $min-width) * 100vw);
      height: 25rem;
      background: #FFFFFF;
      border: 1px solid #484848;
      border-radius: 24px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: auto;
      align-items: center;

      &>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
      }

      &-row {
        display: flex;
        justify-content: center;
        align-items: center;

        &-icon {

          &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc((5rem / $min-width) * 100vw);
            height: calc((5rem / $min-height) * 100vh);
          }
        }

        &-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 1rem;
          width: calc((66.6rem / $min-width) * 100vw);
          height: calc((6rem / $min-height) * 100vh);

          &-name {
            display: flex;
            align-items: center;
            font-size: $search-details-font-size;
            font-family: $search-details-font-family;
            font-weight: $search-details-font-weight;
            line-height: $search-details-line-height;
          }

          &-adress {
            display: flex;
            align-items: center;
            font-size: $search-subdetails-font-size;
            font-family: $search-subdetails-font-family;
            font-weight: $search-subdetails-font-weight;
            line-height: $search-subdetails-line-height;
            color: $search-subdetails-color;
          }
        }
      }
    }
  }

  &-button {
    display: flex;

    &-container {
      display: flex;
      align-self: start;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      width: 10%;
      height: 4.6rem;
      margin: 2.1rem 0;
    }
  }
}