@import '../../../styles/abstracts/variables';

.main-page {
  &-mt {
    margin-top: 10%;
  }

  &-container {
    min-width: 128rem;
    min-height: 150rem;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  &-flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 2rem 0;

    &>.heading-primary {
      margin: 1rem 0 0 0;
      width: 50%;
    }
  }

  &-branding {
    position: relative;
    padding: 0 4rem;
    width: calc((28rem / $min-width) * 100vw);

    &-label {
      position: absolute;
      right: 1rem !important;
      font-size: $branding-label-font-size;
    }
  }
}

.add-new-record {
  display: inline-flex;
  position: absolute;
  right: 0 !important;
  top: 0 !important;
  margin: 5rem 10rem;

  &-container {
    position: relative;
  }
}

.search {
  &-container {
    display: flex;
    position: relative;
  }

  &-details-container {
    width: calc((72rem / $min-width) * 100vw);
    height: 25rem;
    background: #FFFFFF;
    border: 1px solid #484848;
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    align-items: center;

    &>* {
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
    }

    &-column {


      &-content {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &-button {
    display: flex;

    &-container {
      display: flex;
      align-self: start;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      width: 10%;
      height: 4.6rem;
      margin: 2.1rem 0;
    }
  }
}