<div class="add-new-record-container">
  <primary-button-component class="add-new-record" buttonContent="Add New Record"
    (click)="this.routerLinkService.redirectRouterLink('./add-link-page')">
  </primary-button-component>
</div>

<div class="main-page-container">
  <div class="main-page-mt">
    <div class="main-page-flex-col">
      <div class="main-page-branding">
        <img class="main-page-branding-image" src="/assets/images/branding.png" alt="" srcset="">
        <div class="main-page-branding-label">Search app</div>
      </div>
    </div>
    <div class="main-page-flex-col">
      <div class="heading-primary">Find in records</div>
    </div>
    <div class="main-page-flex-col search-container">
      <form [formGroup]="searchKeywordForm">
        <div class="search-form-group-main-page">
          <img src="/assets/icons/search-icon.png" class="search-input-icon">
          <input type="text" class="search-input-main-page" formControlName="searchKeyword">
          <div *ngIf="this.searchKeywordForm.value != ''  && this.dataService.filteredData.length > 1"
            class="main-page-flex-col search-details-container">
            <div *ngFor="let data of dataService.filteredData.slice(0,3)" class="search-details-container-row">
              <div class="search-details-container-row-icon-container">
                <img src="/assets/icons/location-icon.png" class="object-fit">
              </div>
              <div class="search-details-container-row-content">
                <div class="search-details-container-row-content-name">
                  {{data.nameSurname}}
                </div>
                <div class="search-details-container-row-content-adress">
                  {{data.city}}, {{data.country}}
                </div>
              </div>
            </div>
            <div *ngIf="this.searchKeywordForm.value != ''  && this.dataService.filteredData.length > 3"
              class="search-details-show-more" (click)="redirectToSearchPage()">
              Show More...
            </div>
          </div>
        </div>
      </form>
      <div class="search-button-container">
        <primary-button-component buttonContent="Search"
          [disableCondition]="!(this.dataService.filteredData.length > 1)" (click)="redirectToSearchPage()">
        </primary-button-component>
      </div>
    </div>

  </div>
</div>