<div class="add-new-record-container">
  <primary-button-component class="add-new-record" buttonContent="Add New Record"
    (click)="this.routerLinkService.redirectRouterLink('./add-link-page')">
  </primary-button-component>
</div>

<div class="main-page-container">
  <div class="main-page-mt">
    <div class="main-page-flex-col">
      <div class="branding">
        <img class="branding-image" src="/assets/images/branding.png" alt="" srcset="">
        <div class="branding-label">Search app</div>
      </div>
    </div>
    <div class="main-page-flex-col">
      <div class="heading-primary">Find in records</div>
    </div>
    <div class="main-page-flex-col search-container">
      <form [formGroup]="searchKeywordForm">
        <div class="search-form-group">
          <img src="/assets/icons/search-icon.png" class="search-input-icon">
          <input type="text" class="search-input" formControlName="searchKeyword">
          <div class="main-page-flex-col search-details-container">
            <div class="search-details-container-column">
              <div class="search-details-container-column-content">
                Test
              </div>
            </div>
            <div class="search-details-container-column">
              Test
            </div>
            <div class="search-details-container-column">
              Test
            </div>
          </div>
        </div>
      </form>
      <div class="search-button-container">
        <primary-button-component buttonContent="Search"
          (click)="this.routerLinkService.redirectRouterLink('./search-page')">
        </primary-button-component>
      </div>
    </div>

  </div>
</div>