<div class="search-page-header">
  <div class="search-page-header-column">
    <div class="search-page-header-column-branding">
      <img src="/assets/images/search-page-header-branding.png" alt="" srcset="">
    </div>
  </div>
  <div class="search-page-header-column search-bar-container">
    <div class="search-form-group-search-page">
      <img src="/assets/icons/search-icon.png" class="search-input-icon">
      <input type="text" class="search-input-search-page " formControlName="searchKeyword">
      <div class="search-button-container">
        <primary-button-component buttonContent="Search"
          (click)="this.routerLinkService.redirectRouterLink('./search-page')">
        </primary-button-component>
      </div>
    </div>
  </div>
  <div class="search-page-header-column add-new-record-container">
    <primary-button-component class="add-new-record" buttonContent="Add New Record"
      (click)="this.routerLinkService.redirectRouterLink('./add-link-page')">
    </primary-button-component>
  </div>
</div>
<div class="search-page-results-container">
  <div class="search-page-results-listing">
    Listing
  </div>
  <div class="search-page-order-by">
    Order by
  </div>
</div>