@import '../../../styles/abstracts/variables';

.search {
  &-page {
    &-header {
      display: flex;
      align-items: center;
      grid-gap: $default-grid-gap;

      &>* {
        margin: 3rem;
      }

      &-column {
        width: auto;
        margin: $grid-margin;

        &:last-child {
          display: flex;
          justify-content: end;
        }

        &-branding {
          width: calc((15rem / $min-width) * 100vw);
        }
      }
    }

    &-results {
      &-container {
        display: flex;
        margin: auto;
        background-color: bisque;
        width: calc((92rem / $min-width) * 100vw);
        grid-gap: $grid-margin;
      }

      &-listing {
        width: calc((72rem / $min-width) * 100vw);
        height: calc((50rem / $min-height) * 100vh);
      }

      &-order-by {
        width: calc((18rem / $min-width) * 100vw);
        height: calc((50rem / $min-height) * 100vh);
      }
    }
  }

  &-bar-container {
    flex: 1 1 auto;
  }
}