body {
  font-family: $default-font-family;
  font-weight: $default-font-weight;
  font-size: $default-font-size;
  line-height: $default-line-height;
  color: $default-color-text-black;
}

.heading-primary {
  font-family: $heading-primary-font-family;
  font-weight: $heading-primary-font-weight;
  font-size: $heading-primary-font-size;
  line-height: $heading-primary-line-height;
  color: $heading-primary-color;
}